.App {
  display: relative;
  align-items: center;
  background-image: url("../../_img/FundoAlternativo1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  color: white;
  background-color: black;
  
  
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: rgb(34,139,34);
  box-shadow: 0px 2px 0px rgba(34,139,34, 1);
  transition: 1s;
}

.header {
  position: relative;
  height: 150px;
  width: 0%;
  margin: auto;
  top: 200px;
}




.body {
  position: relative;
  background-color: rgba(0,0,0, 0.8);
  height: 100%;
  width: 75%;
  top: 0px;
  margin: auto;
  box-shadow: 4px 4px 4px rgba(34,139,34, 0.5);
  text-align: center;
  
  
  
}

.menu ul{
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Sniglet', cursive;
  position: fixed;
  height: 20px;
  width: 100%;
  align-items: center;
  top: -2px;
  left: -2px;
  font-size: 16pt;
  padding: 10px;
  margin: 2px;
  transition: background-color 0.5s;
  background-color:black;
  
}

.menu li{
  position: relative;
  text-decoration: none;
  display: inline-flex;
  font-size: 12pt;
  padding: 10px;
  margin: 0px 150px 0px 0px;
  transition: background-color 0.5s;
  background-color: black;
  top: -10px;
  left: 20.5%;
}

#Home {
  position: relative;
  height: 100vh;
  text-align: center;
  
}

#logo {
  position: relative;
  height: 200px;
  width: 200px;
  top: 200px; 
  margin: auto;
}

#infHome {
  position: relative;
  height: 135px;
  width: 400px;
  top: 180px;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  border-top: 5px solid;
  border-bottom: 5px  solid;
  border-color: rgb(34,139,34);
  
  
}

#Artist {
  position: relative;
  height: 100vh;
  text-align: center;
 
}

#foto {
  position: relative;
  height: 300px;
  width: 300px;
  top: 150px;
  left: 70px;
  font-family: 'Courier New', Courier, monospace;
  border-top: 5px solid;
  border-bottom: 5px  solid;
  border-color: rgb(34,139,34);
  
}

#infArtist {
  position: relative;
  height: 200px;
  width: 450px;
  top: -80px;
  left: 450px;
  font-family: 'Courier New', Courier, monospace;
  border-top: 5px solid;
  border-bottom: 5px  solid;
  border-color: rgb(34,139,34);
}

#Portifolio{
  height: 100vh;
  text-align: center;
}

ul#album-fotos{
  width: 700px;
  margin: 0px auto;
  padding: 50px;
  overflow: hidden;
  list-style: none;
}

ul#album-fotos li {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in;
}

ul#album-fotos li span{
  opacity: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 9pt;
  line-height: 370px;
  padding: 5px;
}

ul#album-fotos li:hover{
  -webkit-transform: scale(1.5);
  }
ul#album-fotos li:hover span{
  opacity: 1;
}

ul#album-fotos li#foto01{
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

ul#album-fotos li#foto01:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto02 {
  background-position: 50% 50%;
  background-size: 400px 400px ;
  background-color: #ffffff;
}

ul#album-fotos li#foto02:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto03 {
  background-position: 50% 50%;
  background-size: 400px 400px ;
  background-color: #ffffff;
}

ul#album-fotos li#foto03:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto04 {
  background-position: 50% 50%;
  background-size: 400px 400px ;
  background-color: #ffffff;
}

ul#album-fotos li#foto04:hover{
  background-position: 0px 0px;
  background-size: 200px 200px; 
}

ul#album-fotos li#foto05 {
  background-position: 50% 50%;
  background-size: 400px 400px ;
  background-color: #ffffff;
}

ul#album-fotos li#foto05:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto06{
  background-position: 50% 50%;
  background-size: 400px 400px ;
  background-color: #ffffff;
}

ul#album-fotos li#foto06:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}

#Contato{
  position: relative;
  height: 100vh;
  }

#usuario {
  position: relative;
  height: 250px;
  width:200px; 
  top: 80px;  
  left: 100px;
  border-top: 5px solid;
  border-bottom: 5px  solid;
  border-color: rgb(34,139,34);
}  

#mensagem {
  position: relative;
  height: 250px;
  width: 400px; 
  top: -216px;
  left: 400px;
  border-top: 5px solid;
  border-bottom: 5px  solid;
  border-color: rgb(34,139,34);
  }  

input, textarea {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13pt;
  background-color: rgba(255, 255, 255, 0.8);
}

input:hover, textarea:hover{
  background-color: #dddddd;
}

legend{
  color: #888888;
  font-weight: bold; 
  font-size: 13pt;
  font-family: sans-serif;
 }

fieldset{
  margin: 20px;
  border: none;
}

.footer {
  position: relative;
  background-color: rgba(0,0,0, 0.9);
  height: 60px;
  width: 75%;
  margin: auto;
  top: 100%;
  box-shadow: 4px 4px 4px rgba(34,139,34, 0.5);
  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;
  text-align: center;
  left: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
